<!DOCTYPE html>
<html>
<head>
    <%- include('../../partials/metas') %>
    <%- include('../../partials/styles') %>
</head>
<body>
    <%- include('../../partials/header') %>

    <!-- MAIN :: BEGIN -->
    <main>
        <h1 class="create-title">Formulario de alta</h1>
        <form id="form-products-add" action="/admin/products/create" method="POST" class="form" enctype="multipart/form-data">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <section class="w-100 lg:w-75">
                    <div class="form-header mb-3">
                        <h2>Datos principales</h2>
                    </div>
                    <div class="form-wrapper w-100 p-2">
                        <div class="row form-group mx-0">
                            <label for="title" class="form-label">Título <span class="required"></span></label>
                            <input type="text" id="title" name="title" placeholder="Titulo del libro" class="form-input w-100" tabindex="1" value="<%= (locals.old || {}).title || '' %>">
                            <p id="title-error" class="error-validation"></p>
                            <% if (locals.errors && errors.title) { %>
                                <p class="feedback"><%= errors.title.msg %></p>
                            <% } %>
                        </div>
                        <div class="row form-group mx-0 mt-3">
                            <label for="description" class="form-label">Descripción/Sinapsis <span class="required"></span></label>
                            <textarea id="description" name="description" placeholder="Breve sinapsis del libro" class="form-input w-100" tabindex="2" rows="5" cols="43"><%= (locals.old || {}).description || '' %></textarea>
                            <p id="description-error" class="error-validation"></p>
                            <% if (locals.errors && errors.description) { %>
                                <p class="feedback"><%= errors.description.msg %></p>
                            <% } %>
                        </div>
                        <div class="row form-group mx-0 mt-3">
                            <div id="category-selector" class="column-1 md:column-1 p-0 transition-all">
                                <label for="category" class="form-label">Categoría <span class="required"></span></label>
                                <select id="category" name="category" class="form-select" tabindex="3">
                                    <option value="" <%= ((locals.old || {}).category) === '' ? 'selected' : '' %>>Seleccione una categoría</option>
                                    <option value="-1" <%= ((locals.old || {}).category || -2) === -1 ? 'selected' : '' %>>*** Nueva categoría ***</option>
                                    <% categories.forEach(category => { %>
                                        <option value="<%= category.id %>" <%= ((locals.old || {}).category || -2) === category.id ? 'selected' : '' %>><%- decodeUtf8(category.description) %></option>
                                    <% }); %>
                                </select>
                                <p id="category-error" class="error-validation"></p>
                                <% if (locals.errors && errors.category) { %>
                                    <p class="feedback"><%= errors.category.msg %></p>
                                <% } %>
                            </div>
                            <div id="category-new" class="column-1 md:column-2 pr-0 transition-all" style="display: none;">
                                <label for="category_name" class="form-label">Titulo de la nueva categoría <span class="required"></span></label>
                                <input type="text" id="category_name" name="category_name" placeholder="Categoría..." class="form-input form-input-end w-100" value="<%= (locals.old || {}).category_name || '' %>">
                                <p id="category_name-error" class="error-validation"></p>
                                <% if (locals.errors && errors.category_name) { %>
                                    <p class="feedback"><%= errors.category_name.msg %></p>
                                <% } %>
                            </div>
                        </div>
                        <div class="row form-group mx-0 mt-3">
                            <div class="column-2 pl-0">
                                <label for="price" class="form-label">Precio <span class="required"></span></label>
                                <div class="form-input-wrapper">
                                    <i class="fa fa-dollar form-input-icon form-input-icon-start"></i>
                                    <input type="number" id="price" name="price" placeholder="Precio del libro" class="form-input form-input-start w-100" tabindex="4" value="<%= (locals.old || {}).price || '' %>">
                                    <p id="price-error" class="error-validation"></p>
                                </div>
                                <% if (locals.errors && errors.price) { %>
                                    <p class="feedback"><%= errors.price.msg %></p>
                                <% } %>
                            </div>
                            <div class="column-2 pr-0">
                                <label for="discount" class="form-label">Descuento</label>
                                <div class="form-input-wrapper">
                                    <input type="number" id="discount" name="discount" placeholder="Descuento" class="form-input form-input-end w-100" tabindex="5" value="<%= (locals.old || {}).discount || '0' %>">
                                    <p id="discount-error" class="error-validation"></p>
                                    <i class="fa fa-percent form-input-icon form-input-icon-end"></i>
                                </div>
                                <% if (locals.errors && errors.discount) { %>
                                    <p class="feedback"><%= errors.discount.msg %></p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="w-100 lg:w-75">
                    <div class="form-header my-3">
                        <h2>Imagenes</h2>
                    </div>
                    <div class="form-wrapper w-100 p-2">
                        <div class="row form-group mx-0 mt-3">
                            <label for="image" class="form-label">Portada del libro</label>
                            <input type="file" id="image" name="image" placeholder="Imagen" class="form-input w-100" tabindex="6" value="<%= (locals.old || {}).image || '' %>"> 
                            <p id="image-error" class="error-validation"></p>
                            <% if (locals.errors && errors.image) { %>
                                <p class="feedback"><%= errors.image.msg %></p>
                            <% } %>
                            <small class="form-help">
                                <i class="fa-solid fa-circle-info"></i> Actualmente solo contamos con una imagen por libro. Próximamente se podran agregar hasta 5 imagenes.
                            </small>
                        </div>
                    </div>
                </section>

                <section class="w-100 lg:w-75">
                    <div class="form-header my-3">
                        <h2>Información adicional</h2>
                    </div>
                    <div class="form-wrapper w-100 p-2">
                        <div class="row form-group mx-0 mt-3">
                            <div id="author-selector" class="column-1 md:column-1 p-0 transition-all">
                                <label for="author" class="form-label">Author <span class="required"></span></label>
                                <select id="author" name="author" class="form-select" tabindex="7">
                                    <option value="" <%= ((locals.old || {}).author) === '' ? 'selected' : '' %>>Seleccione un autor</option>
                                    <option value="-1" <%= ((locals.old || {}).author || -2) === -1 ? 'selected' : '' %>>*** Nuevo autor ***</option>
                                    <% authors.forEach(author => { %>
                                        <option value="<%= author.id %>" <%= ((locals.old || {}).author || -1) === author.id ? 'selected' : '' %>><%= author.full_name %></option>
                                    <% }); %>
                                </select>
                                <p id="author-error" class="error-validation"></p>
                                <% if (locals.errors && errors.author) { %>
                                    <p class="feedback"><%= errors.author.msg %></p>
                                <% } %>
                            </div>
                            <div id="author-new" class="column-1 md:column-2 pr-0 transition-all" style="display: none;">
                                <label for="author_name" class="form-label">Titulo del nuevo author <span class="required"></span></label>
                                <input type="text" id="author_name" name="author_name" placeholder="Nombre del autor..." class="form-input form-input-end w-100" value="<%= (locals.old || {}).author_name || '' %>">
                                <p id="author_name-error" class="error-validation"></p>
                                <% if (locals.errors && errors.author_name) { %>
                                    <p class="feedback"><%= errors.author_name.msg %></p>
                                <% } %>
                            </div>
                        </div>

                        <!-- SHEET AVAILABLES -->
                        <% const sheetProperties = []; %>
                        <% sheetProperties.push({ name: 'published_at', label: 'Fecha de publicación', placeholder: 'MM/AAAA' }); %>
                        <% sheetProperties.push({ name: 'pages', label: 'Páginas' }); %>
                        <% sheetProperties.push({ name: 'language', label: 'Idioma', type: 'select', options: ['Español', 'Ingles', 'Francés', 'Portugues'] }); %>
                        <% sheetProperties.push({ name: 'editorial', label: 'Editorial' }); %>
                        <% sheetProperties.push({ name: 'presentation', label: 'Presentación' }); %>

                        <!-- SHEET EACH -->
                        <% sheetProperties.forEach((sheet, i) => { %>
                            <% const tabindex = 8 + i; %>
                            <% sheet.type = sheet.type || 'text'; %>

                            <div class="row form-group mx-0">
                                <label for="<%= sheet.name %>" class="form-label"><%= sheet.label %></label>
                                <% if (sheet.type === 'select' ) { %>
                                    <select id="<%= sheet.name %>" name="<%= sheet.name %>" class="form-select select-attribute" tabindex="<%= tabindex %>">
                                        <% sheet.options.forEach(option => { %>
                                            <option value="<%= option %>" <%= ((locals.old || {}).option || '') === option ? 'selected' : '' %>><%= option %></option>
                                        <% }); %>
                                    </select>
                                <% } else { %>
                                    <input type="<%= sheet.type %>" id="<%= sheet.name %>" name="<%= sheet.name %>" placeholder="<%= sheet.placeholder || '' %>" class="form-input w-100 input-attribute" tabindex="<%= tabindex %>" value="<%= (locals.old || {})[sheet.name] || '' %>">
                                <% } %>
                                <p id="<%= sheet.name %>-error" class="error-validation"></p>
                                <% if (locals.errors && errors[sheet.name]) { %>
                                    <p class="feedback"><%= errors[sheet.name].msg %></p>
                                <% } %>
                            </div>
                        <% }); %>
                    </div>
                </section>

                <div class="row form-actions my-3">
                    <button id="btn-products-add" type="submit" class="form-action-submit" tabindex="13">Crear</button>
                    <a href="/admin" class="form-action-cancel">Cancelar</a>
                </div>
            </div>
        </form>
    </main>
    <!-- MAIN :: END -->

    <%- include('../../partials/footer') %>
    <%- include('../../partials/scripts') %>
</body>
</html>
