<!DOCTYPE html>
<html>
<head>
    <%- include('../../partials/metas') %>
    <%- include('../../partials/styles') %>
</head>
<body>
    <%- include('../../partials/header') %>

    <!-- MAIN :: BEGIN -->
    <main class="main-fluid">
        <section class="admin">
            <div class="title-subtitle">
                <h3 class="title-subtitle-title">
                    Bienvenido <span class="text-primary">@<%= locals.session.user.name %></span>
                    <small class="mt-1 float-end">
                        <a href="/admin/products/create"><i class="fa-solid fa-file-circle-plus"></i></a>
                    </small>
                </h3>
            </div>

            <!-- PRODUCT :: LIST :: BEGIN -->
            <table class="table table-striped table-hover table-responsive">
                <thead>
                    <%- include('./partials/listItemProductHeaders') %>
                </thead>
                <tbody>
                    <% products.forEach(product => { %>
                        <%- include('./partials/listItemProduct', { product }) %>
                    <% }); %>
                </tbody>
            </table>
            <!-- PRODUCT :: LIST :: END -->
        </section>
    </main>
    <!-- MAIN :: END -->

    <%- include('../../partials/footer') %>
    <%- include('../../partials/scripts') %>
</body>
</html>
