<!DOCTYPE html>
<html>
<head>
    <%- include('../../partials/metas') %>
    <%- include('../../partials/styles') %>
</head>
<body>
    <%- include('../../partials/header') %>

    <!-- MAIN :: BEGIN -->
    <main>
        <h1 class="create-title">Formulario de edición</h1>
        <section class="form-wrapper">
            <form action="/admin/products/update/<%= product.id %>?_method=PUT" method="POST" class="form">
                <div class="form-group">
                    <input type="text" name="title" placeholder="Titulo" class="form-input" value="<%= product.title || '' %>">
                </div>
                <div class="form-group">
                    <textarea name="description" placeholder="Descripción" class="form-input" rows="5" cols="43"><%= product.description || '' %></textarea>
                </div>
                <div class="form-group">
                    <input type="file" name="image" placeholder="Imagen" class="form-input" value="<%= product.image || '' %>"> 
                </div>
                <div class="form-group">
                    <input type="number" name="price" placeholder="Precio" class="form-input" value="<%= product.price || '' %>">
                </div>
                <div class="form-group">
                    <input type="number" name="discount" placeholder="Descuento" class="form-input" value="<%= product.discount || '' %>">
                </div>
                <div class="form-group">
                    <input type="text" name="author" placeholder="Autor" class="form-input" value="<%= product.author || '' %>">
                </div>
                <div class="form-group">
                    <label for="publishedAt" class="form-label">Fecha de publicación</label>
                    <input type="date" name="publishedAt" class="form-input" value="<%= product.publishedAt || '' %>-01-01">
                </div>
                <div class="form-group">
                    <input type="number" name="pages" placeholder="Cantidad de paginas" class="form-input" value="<%= product.pages || '' %>">
                </div>
                <div class="form-group">
                    <label for="language" class="form-label">Seleccionar idioma</label>
                    <select name="language">
                        <option value="spanish" <%= (product.language || '').toLowerCase() === 'spanish' ? 'selected' : '' %>>Español</option>
                        <option value="english" <%= (product.language || '').toLowerCase() === 'english' ? 'selected' : '' %>>Inglés</option>
                        <option value="french" <%= (product.language || '').toLowerCase() === 'french' ? 'selected' : '' %>>Francés</option>
                        <option value="portuguese" <%= (product.language || '').toLowerCase() === 'portuguese' ? 'selected' : '' %>>Portugues</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" name="editorial" placeholder="Tamaño" class="form-input" value="<%= product.editorial || '' %>">
                </div>
                <div class="form-group">
                    <input type="text" name="presentation" placeholder="Presentación" class="form-input" value="<%= product.presentation || '' %>">
                </div>
                <div class="form-actions">
                    <button type="submit" class="form-action-submit">Actualizar</button>
                    <a href="/admin" class="form-action-cancel">Cancelar</a>
                </div>
            </form>
        </section>
    </main>
    <!-- MAIN :: END -->

    <%- include('../../partials/footer') %>
    <%- include('../../partials/scripts') %>
</body>
</html>
