<html>
<head>
    <%- include('../partials/metas') %>
    <%- include('../partials/styles') %>
</head>
<body>
    <%- include('../partials/header') %>

    <!-- MAIN :: BEGIN -->
    <main >
        <% if (products.length) { %>
            <!-- VIEWED -->
            <section class="products">
                <div class="row products-list">
                    <!-- PRODUCTS -->
                    <% products.forEach(product => { %>
                        <%- include('./product', { product }); %>
                    <% }); %>
                </div>
            </section>
        <% } else { %>
            <section class="empty-state">
                <div class="row d-flex flex-column justify-content-center align-items-center">
                    <!-- EMPTY STATE -->
                    <h1 class="mt-5 text-center">No se encontraron resultados para la categoría "<%= category.description %>"</h1>
                    <img class="mx-auto" src="/assets/img/empty.png" alt="No se encontraron resultados para la categoría <%= category.description %>" style="width: 50%; height: 50%">
                </div>
            </section>
        <% } %>
    </main>
    <!-- MAIN :: END -->

    <%- include('../partials/footer') %>

    <%- include('../partials/scripts') %>
</body>
</html>
