<html>
<head>
    <%- include('../partials/metas') %>
    <%- include('../partials/styles') %>
</head>
<body>
    <%- include('../partials/header') %>

    <!-- MAIN :: BEGIN -->
    <main class="product-details my-5">
        <section class="product-detail">
            <div class="row">
                <!-- PRODUCT IMAGE AND TITLE -->
                <div class="column-1 md:column-2 product-images">
                    <article>
                        <figure>
                            <img src="<%= firstImage(product) %>" class="product-image product-image-large" />
                        </figure>
                    </article>
                </div>

                <!-- PRODUCT DETAILS -->
                <div class="column-1 md:column-2 product-properties">
                    <!-- PRODUCT TITLE -->
                    <h3 class="product-title"><%= attr(product.attributes, 'title') %></h3>

                    <!-- PRODUCT PRICE -->
                    <p class="product-price"><%= formatPrice(product.price.amount, product.price.currency) %></p>

                    <!-- PRODUCT QUANTITY -->
                    <form class="form">
                        <div class="form-group">
                            <label for="product-quantity" class="form-label" >Cantidad <small>(proximamente)</small></label>
                            <input type="number" id="product-quantity" name="product-quantity" class="product-quantity form-input" value="1" disabled />
                        </div>

                        <div class="form-actions form-actions-end">
                            <button type="button" class="btn btn-primary addToCart"><i class="fas fa-cart-arrow-down" ></i> Agregar al carrito</button>
                        </div>
                    </form>

                    <div class="separator"></div>

                    <% if (attr(product.attributes, 'description')) { %>
                        <!-- PRODUCT DESCRIPTION -->
                        <p class="product-description"><%- attr(product.attributes, 'description') %></p>
                    <% } %>

                    <!-- PRODUCT SHEETS -->
                    <div class="product-sheet">
                        <ul type="none">
                            <li class="product-sheet-item">
                                <b>Autor</b>: <%- authorsName(product) %>
                            </li>

                            <!-- SHEET AVAILABLES -->
                            <% const sheetProperties = []; %>
                            <% sheetProperties.push({ name: 'published_at', label: 'Fecha de publicación' }); %>
                            <% sheetProperties.push({ name: 'pages', label: 'Páginas' }); %>
                            <% sheetProperties.push({ name: 'language', label: 'Idioma' }); %>
                            <% sheetProperties.push({ name: 'format', label: 'Editorial' }); %>
                            <% sheetProperties.push({ name: 'presentation', label: 'Presentación' }); %>

                            <!-- SHEET EACH -->
                            <% sheetProperties.forEach(sheet => { %>
                                <% if (attr(product.attributes, sheet.name)) { %>
                                    <li class="product-sheet-item">
                                        <b><%= sheet.label %></b>: <%- attr(product.attributes, sheet.name) %>
                                    </li>
                                <% } %>
                            <% }); %>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- MAIN :: END -->

    <%- include('../partials/footer') %>

    <%- include('../partials/scripts') %>
</body>
</html>
