<html>
<head>
    <%- include('./partials/metas') %>
    <%- include('./partials/styles') %>
</head>
<body>
    <%- include('./partials/header') %>

    <!-- MAIN :: BEGIN -->
    <main >
        Página no encontrada...
    </main>
    <!-- MAIN :: END -->

    <%- include('./partials/footer') %>

    <%- include('./partials/scripts') %>
</body>
</html>