<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/metas') %>
    <%- include('../partials/styles') %>
  </head>
  <body>
    <%- include('../partials/header') %> 

    <!-- MAIN :: BEGIN -->
    <main class="main-fluid">
        <section class="admin">
            <div class="title-subtitle">
                <h3 class="title-subtitle-title">
                    Contacto
                </h3>
            </div>

            <form action="/" method="POST" class="form">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <section class="w-100 lg:w-50">
                        <div class="form-wrapper w-100 p-2">
                            <div class="row form-group mx-0">
                                <label for="asunto" class="form-label">Asunto</label>
                                <select id= "asunto" name="asunto" class="form-input w-100">
                                    <option value="Informacion libros">Informacion libros</option>
                                    <option value="Mi compra online">Mi compra online</option>
                                    <option value="Reportar problemas">Reportar problemas</option>
                                    <option value="Eventos y presentaciones de libros">Eventos y presentaciones de libros</option>
                                    <option value="Sugerencias de la web">Sugerencias de la web</option>
                                    <option value="Suscripciones por mail">Suscripciones por mail</option>
                                    <option value="Compras mayoristas">Compras mayoristas</option>
                                    <option value="Trabajar en Bookify">Trabajar en Bookify</option>
                                    <option value="Otros">Otros</option>
                                </select>
                            </div>

                            <div class="row form-group mx-0">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input type="text" id="nombre" name="nombre" class="form-input w-100" required/>
                            </div>

                            <div class="row form-group mx-0">
                                <label for="email" class="form-label">Correo electrónico</label>
                                <input type="mail" id="email" name="email" class="form-input w-100" required/>
                            </div>

                            <div class="row form-group mx-0">
                                <label for="comentarios" class="form-label">Comentarios</label>
                                <textarea name="comentarios" id="comentarios" name="comentarios" class="form-input w-100" required></textarea>
                            </div>
                        </div>
                    </section>

                    <div class="row form-actions my-3">
                        <button type="submit" class="form-action-submit" id="submitButton">Enviar</button> 
                    </div>
                </div>
            </form>
        </section>
    </main>
    <!-- MAIN :: END -->

    <%- include('../partials/footer') %>

    <%- include('../partials/scripts') %>
  </body>
</html>
