<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/metas') %>
    <%- include('../partials/styles') %>
</head>
<body>
    <%- include('../partials/header') %>

    <!-- MAIN :: BEGIN -->
    <main>
        <!-- FAQ -->
        <section id="faq" class="faq mb-5">
            <div class="title-subtitle">
                <figure>
                    <i class="fa-solid fa-circle-question mr-1"></i>
                </figure>
                <h3 class="title-subtitle-title mt-1">Preguntas Frecuentes</h3>
            </div>
            <div class="row">
                <p class="mb-5">
                    <b class="mb-3">• ¿Dónde se aplican los códigos de descuento?</b>
                    <br/>
                    <br/>
                    Si contás con un código de cupón de descuento o una Gift Card Virtual tenés que aplicarlo en los lugares indicados dentro del carrito de compra en forma previa a comenzar el proceso de compra. Solo podrás aplicar un código de cupón de descuento y una única Gift Card Virtual por compra. Ambos pueden utilizarse en forma simultánea.
                </p>

                <p class="mb-5">
                    <b class="mb-3">• ¿Si veo un pedido en “Mi cuenta” en estado “Pendiente” el mismo está confirmado?</b>
                    <br/>
                    <br/>
                    Si realizaste un pedido y se encuentra en estado “Pendiente” es porque el mismo no tiene acreditado el pago o porque no completaste el proceso de pago y, por lo tanto, el pedido no será despachado. Si pasados los 5 días hábiles de generado el pedido no se acredita el pago, dicha compra será cancelada. La misma se podrá volver a realizar rápidamente con la opción “Reordenar” desde panel de control de tu cuenta.
                </p>

                <p class="mb-5">
                    Ante cualquier duda relacionada con tus pedidos, podés comunicarte por email a <a href="mailto:librerias@bookify.com?subject=Consulta" id="mail" title="librerias@bookify.com">librerias@bookify.com</a>, telefónicamente al 0810-33-EXTRA (2665) o por chat de WhatsApp al +54 9 11 2885-9431. Nuestro horario de atención es de Lunes a Viernes de 10:00 a 18:00 hs. (hora Argentina).
                </p>

                <p class="mb-5">
                    <b class="mb-3">• ¿Puedo solicitar Factura “A” para una compra en Bookify.com?</b>
                    <br/>
                    <br/>
                    Nuestros pedidos son enviados junto a su correspondiente Ticket Factura "B" a Consumidor final. En caso de ser responsable inscripto y requerir Factura “A” para su compra, será necesario que se comunique con el Departamento de Servicios al Cliente. Por ser agentes de retención, necesitaremos además que nos envíe el certificado correspondiente de inscripción en la AFIP.
                </p>

                <p class="mb-5">
                    <b class="mb-3">• ¿Puedo hacer una compra mayorista en Bookify.com?</b>
                    <br/>
                    <br/>
                    En éste caso, será necesario que te comuniques con nuestro Departamento de Servicios al Cliente desde donde podrán ofrecerte una cotización por los ejemplares y la cantidad requerida.
                </p>

                <p class="mb-5">
                    <b class="mb-3">• ¿Puedo consultar por títulos que no se encuentran publicados en el sitio?</b>
                    <br/>
                    <br/>
                    Sí. Comunicate con nuestro Departamento de Servicios al Cliente y desde allí podremos satisfacer tu consulta y asesorar tu compra.
                </p>

                <p class="mb-5">
                    <b class="mb-3">• ¿Puedo comprar utilizando promociones bancarias?</b>
                    <br/>
                    <br/>
                    Sí, tenemos a disposición promociones con tarjetas de crédito, para conocer cómo operan y cuáles se encuentran habilitadas, ingresá aquí.
                </p>
            </div>
        </section>

    </main>
    <!-- MAIN :: END -->

    <%- include('../partials/footer') %>

    <%- include('../partials/scripts') %>
</body>
</html>
