<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/metas') %>
    <%- include('../partials/styles') %>
</head>
<body>
    <%- include('../partials/header') %>

    <!-- MAIN :: BEGIN -->
    <main>
       <div>
        <h3 id="cerP">Atencion al Cliente</h3>
        <p>
            En Bookify.com ponemos a tu disposición nuestro Departamento de Servicios al Cliente, donde tus mensajes siempre serán atendidos.
            Para consultas sobre artículos de nuestra web o cualquier tema relacionado con tus pedidos,podés comunicarte por email a librerias@bookify.com, telefónicamente al 0810-12-EXTRA (2665) 
            o por chat de WhatsApp al +54 9 11 1542-9856. Nuestro horario de atención es de Lunes a Viernes de 10:00 a 18:00 hs. (hora Argentina).
        </p>
        
        <h3 id="priP">Comprar en Bookify</h3>
        <p> Para realizar compras en Bookify.com es necesario que cuentes con un usuario ya registrado e ingreses a nuestro sitio con él.
            <br>
            Luego de agregar los artículos deseados en el carrito de compras podrás, accediendo al mismo:
            <br>
            • Aplicar un cupón de descuento y/o un código de Gift Card Virtual en caso de contar con alguno de ellos.
            <br>
            • Calcular el costo de envío ingresando los datos del domicilio de entrega.
            <br>
            <br>
            Podrás generar la compra de manera rápida y sencilla ingresando los datos de entrega, 
            el método de envío y la forma de pago. Luego, por último, revisar el pedido y finalizarlo 
            recibiendo una confirmación del mismo en tu casilla de correo. Contarás con la posibilidad 
            de consultar tus compras en todo momento en el panel de control de tu cuenta.
        </p>

        <div>
        <h3 id="segP">Medios de Pago y Promociones</h3>
        <p>
        Durante el proceso de la compra, te solicitaremos que selecciones una forma de pago entre los disponibles en nuestro sitio:
        <br>
        <b>• Pagar con tarjeta de crédito o débito</b>
        Seleccionando está opción podrás pagar con todas las tarjetas de crédito y débito. A través de Visa o Mercado Pago
        Ver promociones adicionales de cuotas sin interés aquí.
        <br>
        <b>• Pagar en efectivo en puntos de pago</b>
        Seleccionando esta opción podrás pagar en efectivo en Pago Fácil o Rapipago. Los pedidos generados con cualquiera de las opciones de pago en efectivo en puntos de pago se procesarán una vez que registremos la acreditación del dinero. Si pasados los 5 días hábiles de generado el pedido no se acredita el pago, dicha compra será cancelada. La misma se podrá volver a realizar rápidamente con la opción “Reordenar” desde panel de control de tu cuenta..
        <br>
        <b>• Pagar con dinero disponible en tu cuenta de Mercado Pago</b>
        Seleccionando esta opción podrás pagar con el dinero que tengas disponible en tu cuenta de MercadoPago o con Mercado Crédito. Serás redirigido a la web de Mercado Pago al confirmar tu compra para que puedas realizar el pago. Si no se concreta el pago en el momento, tu pedido quedará cancelado automáticamente.
        <br>
        El pago de las compras realizadas en Bookify.com se procesa a través de plataformas de cobro 
        reconocidas como lo son Mercado Pago y Visa. Por tratarse de datos encriptados, nuestro sitio no 
        registra ni almacena la información ingresada.
        </p>
        </div>
        <div>

        <h4 id="terP">Gift Cards Virtuales</h4>
        <p>
        Si contás con una Gift Card Virtual podés aplicarlo en el campo destinado para tal fin, 
        dentro del carrito de tu pedido, en forma previa a comenzar el proceso de compra. 
        Podés aplicar una única Gift Card virtual por compra y el mismo no genera vuelto o saldo a favor 
        reutilizable en futuros pedidos.
        <br>
        La aplicación de una Gift Card Virtual es acumulable con las promociones bancarias vigentes pero 
        siempre tener en cuenta que las promos bancarias solo aplicarán sobre la diferencia a pagar luego 
        de restar el monto de la Gift Card Vitural utilizada y no sobre el total de la compra.
        </p>
        </div> 
        <div>
        <h4 id="cuaP">Plazos y Costos de Envío</h4>
        <p>
        Todos nuestros productos cuentan con envío a domicilio a toda la Argentina a través de Correo 
        Andreani, Correo Argentino y Correo Urbano, y al resto del mundo a través de DHL (*). 
        Podrás calcular el costo de envío de todos los correos disponibles ingresando los datos de 
        entrega en el carrito de compra.
        <br>
        <strong>El costo de envío en Argentina no cuenta con recargo por artículos adicionales.</strong>
        <br>
        Envío gratis en Argentina con tus compras mayores a $2990. - No acumulable con otros beneficios.
        <br>
        Los pedidos serán despachados dentro de las 24/48 hs hábiles. Una vez realizado el envío, 
        recibirás un mail de confirmación con los datos para realizar el seguimiento online de la pieza.
        <br>
        Luego del despacho los tiempos habituales de entrega en Argentina son los siguientes:
            <br><strong>Capital Federal:</strong> de 1 a 2 días hábiles.
            <br><strong>GBA:</strong> de 2 a 4 días hábiles.
            <br><strong>Provincia de Buenos Aires:</strong> de 2 a 6 días hábiles.
            <br><strong>Resto del país:</strong> de 2 a 6 días hábiles.
        <br>
        <br>
        Para el resto del mundo los tiempos serán:
            <br><strong>Sudamérica:</strong> 3 días hábiles.
            <br><strong>Norteamérica:</strong> 4 días hábiles.
            <br><strong>Europa:</strong> 5 días hábiles.
            <br><strong>Resto del mundo:</strong> 6 días hábiles.
        <br>
        Podrás realizar el seguimiento de tus compras en Bookify.com desde “Mi cuenta” con tu usuario y clave registrados.
        Para ello, ingresá a “Mi cuenta > Mis pedidos”, seleccioná “Ver el pedido” y finalmente, desde la opción “Realizar un seguimiento de su pedido”, podrás visualizar el estado del despacho y estimar la entrega.
        El seguimiento online estará habilitado luego de haber recibido el aviso de despacho por mail. Tené en cuenta que, en algunos casos, el correo puede demorar hasta 24hs luego de retirar el paquete para actualizar la información del seguimiento del mismo.

        (*) Envíos al Exterior:
        Los impuestos aduaneros y/o cargos por desaduanaje en el país de destino son exclusiva
         responsabilidad del cliente y varían en cada país sin previo aviso ni notificación. 
         Debido a que no podemos controlar ni informarte con precisión la existencia y los montos de los 
         mismos, te recomendamos averiguarlo previamente contactándote con la oficina de Aduanas de tu 
         país para obtener información exacta y actualizada.
        </p>
        </div>
        
        <h4 id="quiP">Cambios y Devoluciones</h4>
        Podrás revocar la compra realizada o solicitar cambios, sin responsabilidad alguna, dentro de los
         10 días corridos a partir de la recepción del producto adquirido. La revocación de una compra 
         deberás realizarla a través de nuestro Departamento de Servicios al Cliente comunicándote con el 
         número de pedido. De tratarse de una artículo con defectos de fabricación se procederá a realizar el cambio exclusivamente por otro igual en buen estado.
        También se podrán realizar cambios en nuestras sucursales con la presentación de la factura 
        correspondiente siempre que previamente se realice la gestión con el Departamento de Servicios al 
        Cliente. Para cualquier tipo de cambio, el producto no debe haber sido usado y debe ser devuelto 
        en el mismo estado en el que se recibió, conservando su empaque original y con sus accesorios, si 
        los hubiere. No se aceptará la devolución o cambios de CDs, DVDs, Blu-rays o Juegos cuando su 
        envoltorio original esté abierto, excepto en el caso en que existieran defectos de fabricación. 
        En los supuestos previstos en este párrafo, todos los costos derivados por cambios dentro del 
        plazo establecido, estarán a cargo de Bookify.com.
        <br>
        <br>
        <h4 id="sexP">Defensa al Consumidor</h4>
        Dirección General de Defensa y Protección al Consumidor: para consultas y/o denuncias llame al 
        0800-456-2541 o ingrese 
        <a href="http://www.buenosaires.gob.ar/defensaconsumidor" target="blank"><strong>aquí</strong></a>.
        <br>
        <br>
        <h4 id="sepP">Preguntas Frecuentes</h4>
        <b>• ¿Dónde se aplican los códigos de descuento?</b>
        Si contás con un código de cupón de descuento o una Gift Card Virtual tenés que aplicarlo en los lugares indicados dentro del carrito de compra en forma previa a comenzar el proceso de compra. Solo podrás aplicar un código de cupón de descuento y una única Gift Card Virtual por compra. Ambos pueden utilizarse en forma simultánea.
        <br>
        <b>• ¿Si veo un pedido en “Mi cuenta” en estado “Pendiente” el mismo está confirmado?</b>
        Si realizaste un pedido y se encuentra en estado “Pendiente” es porque el mismo no tiene acreditado el pago o porque no completaste el proceso de pago y, por lo tanto, el pedido no será despachado. Si pasados los 5 días hábiles de generado el pedido no se acredita el pago, dicha compra será cancelada. La misma se podrá volver a realizar rápidamente con la opción “Reordenar” desde panel de control de tu cuenta.

        Ante cualquier duda relacionada con tus pedidos, podés comunicarte por email a 
        <a href="mailto:librerias@bookify.com?subject=Consulta" id="mail" title="librerias@bookify.com">librerias@bookify.com</a>, 
        telefónicamente al 0810-33-EXTRA (2665) o por chat de WhatsApp al +54 9 11 2885-9431. 
        Nuestro horario de atención es de Lunes a Viernes de 10:00 a 18:00 hs. (hora Argentina).
        <br>
        <b>• ¿Puedo solicitar Factura “A” para una compra en Bookify.com?</b>
        <br>
        Nuestros pedidos son enviados junto a su correspondiente Ticket Factura "B" a Consumidor final. 
        En caso de ser responsable inscripto y requerir Factura “A” para su compra, será necesario que se 
        comunique con el Departamento de Servicios al Cliente. Por ser agentes de retención, necesitaremos 
        además que nos envíe el certificado correspondiente de inscripción en la AFIP.
        <br>
        <b>• ¿Puedo hacer una compra mayorista en Bookify.com?</b>
        <br>
        En éste caso, será necesario que te comuniques con nuestro Departamento de Servicios al Cliente 
        desde donde podrán ofrecerte una cotización por los ejemplares y la cantidad requerida.
        <br>
        <b>• ¿Puedo consultar por títulos que no se encuentran publicados en el sitio?</b>
        <br>
        Sí. Comunicate con nuestro Departamento de Servicios al Cliente y desde allí podremos satisfacer tu
        consulta y asesorar tu compra.
        <br>
        <b>• ¿Puedo comprar utilizando promociones bancarias?</b>
        <br>
        Sí, tenemos a disposición promociones con tarjetas de crédito, para conocer cómo operan y cuáles se 
        encuentran habilitadas, ingresá aquí.
        </div> 
    </main>
    <!-- MAIN :: END -->

    <%- include('../partials/footer') %>

    <%- include('../partials/scripts') %>
</body>
</html>
