<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/metas') %>
    <%- include('../partials/styles') %>
  </head>
  <body>
    <%- include('../partials/header') %> 

    <!-- MAIN :: BEGIN -->
    <main class="main-fluid">
        <section class="admin">
            <div class="title-subtitle">
                <h3 class="title-subtitle-title">
                    Solicitud de devolución
                </h3>
            </div>

            <form action="/" method="POST" class="form">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <section class="w-100 lg:w-50">
                        <div class="form-wrapper w-100 p-2">
                            <div class="row form-group mx-0">
                                <label for="1" class="form-label">N° de Pedido</label>
                                <input type="text" id="1" class="form-input w-100" required/>
                            </div>

                            <div class="row form-group mx-0">
                                <label for="2" class="form-label">Nombre y Apellido</label>
                                <input type="text" id="2" class="form-input w-100" required/>
                            </div>

                            <div class="row form-group mx-0">
                                <label for="3" class="form-label">D.N.I</label>
                                <input type="text" id="3" class="form-input w-100" required/>
                            </div>

                            <div class="row form-group mx-0">
                                <label for="4" class="form-label">Direccion de Email</label>
                                <input type="mail" id="4" class="form-input w-100" required/>
                            </div>

                            <div class="row form-group mx-0">
                                <label for="comentarios" class="form-label">Comentarios</label>
                                <textarea name="comentarios" id="comentarios" class="form-input w-100" required></textarea>
                            </div>

                            <div class="row d-flex flex-column align-items-center justify-content-center form-group mx-0">
                                <div class="center">
                                    <h4 id="captchaHeading" class="mb-2">Validar</h4>
                                    <div id="captchaBackground">
                                        <canvas id="captcha">captcha text</canvas>
                                    </div>
                                    <input id="textBox" type="text" name="text" required/>
                                </div>
                                <div class="captcha-buttons">
                                    <input id="submitButton" type="submit" value="Validar" />
                                    <button id="refreshButton" type="submit">Cambiar</button>
                                </div>
                                <span id="output"></span>
                            </div>
                          </div>
                    </section>

                    <div class="row form-actions my-3">
                        <button type="submit" class="form-action-submit" id="submitButton">Enviar</button> 
                    </div>
                </div>
            </form>
        </section>
    </main>
    <!-- MAIN :: END -->

    <%- include('../partials/footer') %>

    <%- include('../partials/scripts') %>
  </body>
</html>
