<html>
<head>
    <%- include('../partials/metas') %>
    <%- include('../partials/styles') %>
</head>
<body>
    <%- include('../partials/header') %>

    <!-- MAIN :: BEGIN -->
<main>
    <section>
        <h1>CREATE</h1>
    </section>
</main>
    <!-- MAIN :: END -->

    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
</body>
</html>
