<html>
<head>
    <%- include('../partials/metas') %>
    <%- include('../partials/styles') %>
</head>
<body>
    <%- include('../partials/header') %>

    <!-- MAIN :: BEGIN -->
<main>
    <section>
        <h1>BIENVENIDO @USUARIO</h1>
        <ul>Funciones:
            <li><a href="/admin/create">Crear</a></li>
            <li><a href="/admin/update">Editar</a></li>
            <li><a href="/admin/delete">Eliminar</a></li>
        </ul>
    </section>
</main>
    <!-- MAIN :: END -->

    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
</body>
</html>
