<html>
<head>
    <%- include('../partials/metas') %>
    <%- include('../partials/styles') %>
</head>
<body>
    <%- include('../partials/header') %>

    <!-- MAIN :: BEGIN -->
<main>
    <section class = "admin">
        <h1 class = "title-admin">BIENVENIDO @USUARIO</h1>
        <ul class = "functions-admin">
            <li><a href="/admin/create">Crear un producto</a></li>
            <li><a href="/admin/update">Editar productos</a></li>
            <li><a href="/admin/delete">Eliminar productos</a></li>
        </ul>
    </section>
</main>
    <!-- MAIN :: END -->

    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
</body>
</html>
