<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/metas') %>
    <%- include('../partials/styles') %>
</head>
<body>
    <%- include('../partials/header') %>

    <!-- MAIN :: BEGIN -->

    <main class="login">
        <h1 class="create-title">Backoffice</h1>
        <form action="/admin/login" method="POST" class="form">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <section class="w-100 lg:w-25">
                    <div class="form-wrapper w-100 p-2">
                        <div class="row form-group mx-0">
                            <label for="email" class="form-label">Usuari@</label>
                            <input type="text" id="email" name="email" placeholder="johndoe@email.com" class="form-input w-100" value="<%= (locals.old || {}).email || '' %>">
                            <% if(locals.errors && errors.email) { %>
                                <p class="feedback"><%= errors.email.msg %></p>
                            <% } %>
                        </div>
                        <div class="row form-group mx-0">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" id="password" name="password" placeholder="********" class="form-input w-100" value="">
                            <% if(locals.errors && errors.password) { %>
                                <p class="feedback"><%= errors.password.msg %></p>
                            <% } %>
                        </div>
                    </div>
                </section>

                <div class="row form-actions my-3">
                    <button type="submit" class="form-action-submit">Ingresar</button>
                </div>
            </div>
        </form>
    </main>
    <!-- MAIN :: END -->

    <%- include('../partials/footer') %>

    <%- include('../partials/scripts') %>
</body>
</html>
