<!-- PRODUCT :: ITEM :: BEGIN -->
<tr>
    <td class="text-center"><%= product.id %></td>
    <td>
        <div class="d-flex align-items-start justify-content-start">
            <img src="<%= firstImage(product) %>" width="40px" />
            <div class="ml-3"><%= attr(product.attributes, 'title') %></div>
        </div>
    </td>
    <td class="text-right"><%= formatPrice(product.price.amount, product.price.currency) %></td>
    <td><%= authorsName(product) %></td>
    <td><%= attr(product.attributes, 'editorial') %></td>
    <td><%= attr(product.attributes, 'published_at') %></td>
    <td>
        <div class="d-flex align-items-center justify-content-center">
            <a href="/admin/products/update/<%= product.id %>" class="text-center" title="Editar"><i class="fa-solid fa-pen-to-square"></i></a>
            <a href="#" onclick="destroyProduct(event, <%= product.id %>)" style="margin-left:15px;" class="text-center" title="Borrar"><i class="fa-solid fa-trash-can"></i></a>
            <form id="product-<%= product.id %>-delete-form" action="/admin/products/destroy/<%= product.id %>?_method=DELETE" method="POST" class="d-none"></form>
        </div>
    </td>
</tr>
<!-- PRODUCT :: ITEM :: END -->
