<html>
  <head>
    <%- include('../partials/metas') %> <%- include('../partials/styles') %>
  </head>
  <body>
    <%- include('../partials/header') %> <%- include('../partials/banner') %>

    <!-- MAIN :: BEGIN -->
    <main>
    </main>

    <!-- MAIN :: END -->

    <%- include('../partials/footer') %> <%- include('../partials/scripts') %>
</body>
</html>