<article class="product column-1 md:column-2 lg:column-4" data-id="<%= product.id %>">
    <a href="/products/<%= product.id %>">
        <div class="product-content">
            <figure>
                <img class="product-image" src="<%= product.images[0].src %>" width="100%" />
            </figure>
            <div class="product-details">
                <h4 class="product-title"><%= attr(product.attributes, 'title') %></h4>
                <p class="product-price">
                    <span class="product-amount"><%= formatPrice(product.price.amount, product.price.currency) %></span> <% if (product.price.discount_amount) { %><small class="product-offer"><%= formatDiscount(product.price.discount_amount, product.price.discount_type) %></small><% } %>
                </p>
            </div>
        </div>
    </a>
</article>
