<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/metas') %>
    <%- include('../partials/styles') %>
</head>
<body>
    <%- include('../partials/header') %>

    <!-- MAIN :: BEGIN -->

    <main class="login">
        <h1 class="create-title">Información de Pago</h1>
        <form action="/admin/login" method="POST" class="form">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <section class="w-100 lg:w-25">
                    <div  class= "d-flex">
                        <section class="form-wrapper w-100 p-2">
                            <h3 class="pay-title">Información Personal</h3> 

                            <div class="row form-group mx-0">
                                <label for="name" class="form-label">Nombre y Apellido</label>
                                <input type="text" id="name" name="name" placeholder="Pedro Alfonso" class="form-input w-100" value="">
                            </div>
                            <div class="row form-group mx-0">
                                <label for="address" class="form-label">Dirección</label>
                                <input type="text" id="address" name="address" placeholder="Antartica Armenia 767" class="form-input w-100" value="">
                            </div>
                            <div class="row form-group mx-0">
                                <label for="dni" class="form-label">DNI</label>
                                <input type="text" id="dni" name="dni" placeholder="40.226.777" class="form-input w-100" value="">
                            </div>

                        </section>
                        <section class="form-wrapper w-100 p-2">
                            <h3 class="pay-title">Seleccionar forma de pago</h3>

                                <!-- PAY WITH CREDIT/DEBIT CARD -->
                                <input class= "show-cardInfo" type="radio" id="card" value="card" name="paymentMethod"> Tarjeta de Debito/Credito
                                <label class="row form-group mx-0" for="card"> 

                                    <div class="cardInfo">
                                        <div class="row form-group mx-0">
                                            <label for="name" class="form-label">Nombre del Titular</label>
                                            <input type="text" id="name" name="name" placeholder="Juan Román" class="form-input w-100" value="">
                                        </div>
                                        <div class="row form-group mx-0">
                                            <label for="card" class="form-label">Numero de Tarjeta</label>
                                            <input type="text" id="card" name="card" placeholder="3777 9577744 55221" class="form-input w-100" value="">
                                        </div>
                                        <div class="row form-group mx-0">
                                            <label for="date" class="form-label">Fecha de Expiración</label>
                                            <input type="text" id="date" name="date" placeholder="07/2025" class="form-input w-100" value="">
                                        </div>
                                        <div class="row form-group mx-0">
                                            <label for="securityCode" class="form-label">Codigo de Seguridad</label>
                                            <input type="text" id="securityCode" name="securityCode" placeholder="1234" class="form-input w-100" value="">
                                        </div>  
                                    </div>

                                </label>

                                <!-- PAY WITH CASH -->
                                <input class="show-cashInfo" type="radio" id="cash" value="cash" name="paymentMethod"> Efectivo 
                                <label class="row form-group mx-0" for="cash">

                                    <div class="cashInfo">
                                        <div class="rapiPago">
                                            <input type="radio" id="rapiPago" value="rapiPago" name="paymentPlace"> 
                                            <label for="rapiPago"> RapiPago </label> 
                                        </div>
                                        <div class="pagoFacil">
                                            <input type="radio" id="pagoFacil" value="pagoFacil" name="paymentPlace"> 
                                            <label for="pagoFacil"> PagoFacil </label>
                                        </div>
                                    </div>

                                </label>

                                <!-- PAY WITH TRANSFER -->
                                <input class= "show-transferInfo" type="radio" id="transfer" value="transfer" name="paymentMethod"> Transferencia 
                                <label class="row form-group mx-0 ">

                                    <div class="transferInfo">
                                        <p> CBU: 123456789 </p>
                                        <p> ALIAS: Pepito.Sapo.Pajaro </p>
                                    </div>

                                </label>
                            
                        </section>
                    </div>  
                </section>

                <div class="row form-actions my-3">
                    <button type="submit" class="form-action-submit">Comprar</button>
                </div>
            </div>
        </form>
    </main>
    <!-- MAIN :: END -->

    <%- include('../partials/footer') %>

    <%- include('../partials/scripts') %>
</body>
</html>
